@model fpv_info.Models.Event
@{
        ViewBag.Title = Model.Title_ru;
}
<h2>@Model.Title_ru</h2>
<h2>@Model.Title_en</h2>
<h2>@Model.EventDate</h2>
<h2>@Model.Type.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Текст русский</dt>
        <dd>@Html.Raw(Model.Description_ru)</dd>

        <dt>Текст eng</dt>
        <dd>@Html.Raw(Model.Description_en)</dd>
    </dl>
</div>
