@model fpv_info.Models.Event
<div class="blank">
    <div class="blank-page">
        <h6>@Model.EventDate</h6>
        <h3>@Model.Title_ru / @Model.Title_en</h3>
        <br />
        <div>
            <div>
                @Html.Raw(Model.Description_ru)
            </div>
            <br />
            <br />
            <div>
                @Html.Raw(Model.Description_en)
            </div>
        </div>        
    </div>
</div>
